name: CI
on: [push]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3
    - name: Bundle
      run: |
        gem uninstall bundler
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: Lint
      run: bundle exec rbprettier --check {lib,test}/**/*.rb
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4']
        rails: ['7.1', '7.2', '8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup System
        run: |
          sudo apt-get install libsqlite3-dev
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Bundle
        env:
          RAILS_VERSION: ${{ matrix.rails }}
        run: |
          gem uninstall bundler
          gem install bundler
          bundle install --jobs 4 --retry 3
      - name: Test
        env:
          RAILS_VERSION: ${{ matrix.rails }}
        run: bundle exec rake
